<!-- Comments Form -->
<div class="col-12">
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="col-12">
    {{#each this as |comment|}}

    {{#if comment.is_reply}}{{else}}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{comment.name}}</h5>
            {{comment.comment}}

            {{#if comment.hasReplies}}
            {{#each replies as |reply|}}
            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{reply.name}}</h5>
                    {{reply.comment}}
                </div>
            </div>
            {{/each}}
            {{/if}}

        </div>
    </div>
    {{/if}}
    {{/each}}
</div>