<!-- Comments Form -->
<div class="col-12">
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment</h5>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label for="commentName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="commentName" placeholder="John Smith">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="commentEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="commentEmail" placeholder="john.smith@gmail.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="commentText" class="col-sm-2 col-form-label">Comment</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="commentText" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="col-12">
    {{#each this as |comment|}}

    {{#if comment.is_reply}}{{else}}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{comment.name}}</h5>
            {{comment.comment}}

            {{#if comment.hasReplies}}
            {{#each replies as |reply|}}
            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{reply.name}}</h5>
                    {{reply.comment}}
                </div>
            </div>
            {{/each}}
            {{/if}}

        </div>
    </div>
    {{/if}}
    {{/each}}
</div>