<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{post.title}}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="/users/{{post.author_id}}">{{post.author_name}}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{post.date_created}}</p>

            <p>Read Time: {{post.time_to_read}} mins</p>

            <hr>

            {{{post.content}}}

            <div class="row" api-url="/api/comments" partial="comments"></div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Topics Widget -->
            <div class="card my-4">
                <h5 class="card-header">Topics</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <div class="row" api-url="/api/topics" partial="topics"></div>
                    </ul>
                </div>
            </div>

            <!-- About Author Widget -->
            {{> posts/about-author}}

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->