<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{post.title}}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="/users/{{post.user_id}}">{{post.user_name}}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{post.date_created}}</p>

            <hr>

            {{{post.content}}}

            {{> comments}}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Topics Widget -->
            <div class="card my-4">
                <h5 class="card-header">Topics</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <div class="row" data-api-url="/api/topics" data-partial="topics"></div>
                    </ul>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use,
                    and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->