<div class="row">
    <div class="col-12 text-right" id="post-actions">
        <button type="submit" class="btn btn-success mb-2 pull-left" id="btn-preview">Preview</button>
        <button type="submit" class="btn btn-primary mb-2" id="btn-save">Save</button>
        <button type="submit" class="btn btn-warning mb-2" id="btn-archive">Archive</button>
        <button type="submit" class="btn btn-danger mb-2" id="btn-delete">Delete</button>
    </div>
    <div class="col-12 mb-3">
        <form>
            <div class="form-row">
                <!-- Post Title -->
                <div class="form-group col-md-3">
                    <label for="post-title">Post Title</label>
                    <input type="text" class="form-control" id="post-title" placeholder="" value="{{data.post.title}}">
                </div>

                <!-- Post Slug -->
                <div class="form-group col-md-3">
                    <label for="post-title">Slug</label>
                    <input type="text" class="form-control" id="post-slug" placeholder="" value="{{data.post.slug}}">
                </div>

                <!-- Post Description -->
                <div class="form-group col-md-6">
                    <label for="post-description">Post Description</label>
                    <input type="text" class="form-control" id="post-description" placeholder="" value="{{data.post.description}}">
                </div>

                <!-- Post Template -->
                <div class="form-group col-md-3">
                    <label for="post-title">Template</label>
                    <input type="text" class="form-control" id="post-template" placeholder="" value="{{data.post.template}}">
                </div>

                <!-- Post Layout -->
                <div class="form-group col-md-3">
                    <label for="post-title">Layout</label>
                    <input type="text" class="form-control" id="post-layout" placeholder="" value="{{data.post.layout}}">
                </div>

                <!-- Published -->
                <div class="form-group col-md-3">
                    <div class="form-check">
                        <label class="form-check-label mb-2" for="post-published">
                            Published
                        </label>
                        <br>
                        <label class="switch">
                            <input type="checkbox" id="post-published" {{#if data.post.published}}checked{{/if}}>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div id="froala-editor">{{{data.post.content}}}</div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        new window.wbc.PostEditor();
    });
</script>