{{#each this as |post|}}

<div class="post-preview">
    <a href="/blog/{{post.slug}}">
        <h2 class="post-title">
            {{post.title}}
        </h2>
        <h3 class="post-subtitle">
            {{post.description}}
        </h3>
    </a>
    <p class="post-meta">Posted by
        <a href="users/{{post.publisher_id}}">{{post.publisher_name}}</a>
        on {{post.date_created}}</p>
</div>
<hr>
{{/each}}


<div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>