<h4>Database</h4>
Cached Queries: {{data.cachedQueries}}
<br>
Total Queries Executed: {{data.queriesRun}}
<hr>
<h4>NodeJS</h4>
RSS: {{data.memory.rss}} MB
<br>
Heap Total: {{data.memory.heapTotal}} MB
<br>
Heap Used: {{data.memory.heapUsed}} MB
<br>
External: {{data.memory.external}} MB
<br>

